<!DOCTYPE HTML>
<html manifest="">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<script src="resources/plugin/echarts/echarts.js"></script>
<link href="images/system/favicon.png" type="image/x-icon"
	rel="shortcut icon">
<title></title>
<link rel="stylesheet" type="text/css" href="resources/css/index.css" />
<script type="text/javascript">
	var Ext = Ext || {};
	Ext.beforeLoad = function(tags) {
		var html = '<div id="loading"> ' + '<div class="loading-indicator"> '
				+ '<img src="resources/images/system/large-loading.gif" width="32" height="32" /> ' + '系统正在加载中，请稍候...... '
				+ '<br/> <span id="loading-msg">Loading...</span> ' + '</div> ' + '</div>';
		document.write(html);
	};
</script>
<script id="microloader" data-app="a988d731-7b7f-4a13-9a75-85e785e4a107"
	type="text/javascript" src="bootstrap.js"></script>
</head>
<body>
	<a target="_blank" href="" id="__qq__"></a>
</body>
</html>
